.ficc {
    /* background-image: url(../assets/images/abstrato-design-de-layout-de-fundo-de-parede-marrom-suave-estudio-sala-modelo-da-web-relatorio-de-negocios-com-cor-gradiente-de-circulo-suave.jpg) no-repeat center/cover;
    filter: invert(100%); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: radial-gradient(circle at top center, #a3652c 0%, transparent 70%),
              linear-gradient(to bottom, #6a3417 0%, #2e1a10 100%);
    /* padding: 1rem 0; */
}

.ficc-logo-explanation {
    width: 200px;
    height: 120px;
}

.ficc-explanation {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: .5rem 0;
}

.highlight {
    font-family: NexaBlack, sans-serif;
}

.ficc-explanation-section {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    height: 80px;
    border-top-right-radius: 80px; /* canto arredondado como na imagem */
    background: linear-gradient(to bottom, #57391e 0%, #5c3621 50%, #824c2d 100%);
    color: #e79657;
}

.ficc-text-explanation {
    padding: 1rem;
}

.ficc-p2 {
    background: radial-gradient(circle at bottom center, #c77b42 0%, transparent 70%),
            linear-gradient(to top, #8a4525 0%, #4a2a1a 100%),
            linear-gradient(to right, rgba(255, 220, 180, 0.3), transparent 60%);

    padding: 0 .5rem;
}

.ficc-p2 h2 {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    color: #e79657;
    padding: 1rem 0;
}

.ficc-p2-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.guest-citation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem;
    color: #fff;
    width: 80%;
    font-size: 12px;
}

.guest-image {
    width: 14rem;
    height: 300px;
    /* object-fit: cover; */
}

.quote {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 700; /* negrito para ficar parecido */
  font-size: 30px;  /* ajuste conforme precisar */
}

.a {
    color: #ffe2b8;
    display: block;
    text-align: right;
    margin-top: .5rem;
}

.b {
    color: #a45b26;
}

.interactive-btn-sec-2 {
    padding: 1rem;
}


@media (min-width: 992px) {
  .ficc-logo-explanation {
      width: 650px;
      height: auto;
  }

  .ficc-explanation {
    font-size: 2rem;
  }

  .ficc-explanation-section {
      height: 250px;
      border-top-right-radius: 150px; /* canto arredondado como na imagem */
      font-size: 2.5rem;
    }

    .ficc-text-explanation {
        width: 60%;
        text-align: center;
    }


    .ficc-p2 h2 {
        font-size: 3.2rem;
        width: 100%;
        text-align: center;
    }

    .guest-citation {
        padding: 2rem;
        height: auto;
        width: 50%;
    }

    .guest-citation .highlight {
        font-size: 3.2rem;
    }

    .guest-citation span {
        font-size: 1.5rem;
    }

    .quote {
        font-size: 50px;  /* ajuste conforme precisar */
        
    }

    .a {
        display: inline;
    }

    .guest-image {
        height: 800px;
        width: auto;
    }

    .ficc-p2-container {
        justify-content: flex-start !important;
    }
}